@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:ital,wght@0,400;0,700;1,300;1,500&display=swap');

$ff-title: 'Libre Baskerville', serif;
$ff-main: 'Roboto', sans-serif;

$brand: #FD665E;
$text-sm: #585858;